.gitignore
**/*npm-debug.log.*
karma.conf.js
node_modules
npm-debug.log
protractor.conf.js

tsconfig.json
coverage
reports
api
e2e
.editorconfig
tslint.json
Jenkinsfile
proxies/
.vscode
.browserslistrc
.eslintignore
.eslintrc.json
webpack.config.json